body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: Noto Sans;
}

#nav-styling{
    background-color: rgb(110, 188, 212);
    color: white;
    position: sticky;
    top: 0px;
    flex-direction: row;
    display: flex;
    justify-content: left;
}

.horizontal-list {
    justify-content: right;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    gap: 25px;
    text-align: center;
}

.reservationForm {
    flex-direction: row;
    border: 20px;
    background-color: burlywood;
    height: 50px;
}

.styling-one{
    background-color: tomato;
    color: rgb(40, 124, 220);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    height: 2000px;
}


.fa-hotel{
    font-size: 20px;
}




#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    align-items: center;
}

#nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 20px;
    color: black;
}